<% if user_signed_in? %>
 <% if current_user.liked_by?(tweet.id) %>
   <td>
     <%= link_to destroy_like_path(tweet), method: :DELETE, remote: true, data: {"turbolinks" => false} do %> 
       <i class="fa fa-heart unlike-btn"></i> 
     <% end %> 
     <%= tweet.likes.count %>
   </td>
 <% else %>
   <td>
     <%= link_to create_like_path(tweet), method: :POST, remote: true, data: {"turbolinks" => false} do %> 
       <i class="fa fa-heart like-btn"></i> 
     <% end %> 
     <%= tweet.likes.count %>
   </td>
 <% end %>
<% end %>